<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       xmlns:context="http://www.springframework.org/schema/c">

    <context:annotation-config />
    <bean class="org.dw.annotation.dao.impl.PersonDaoImpl" />
    <bean id="personService" class="org.dw.annotation.service.impl.PersonServiceImpl" />
</beans>